body {
    background: radial-gradient(circle, dimgray, black);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: radial-gradient(ellipse, dimgray, black);
    height: 30vh;
}

.image_header_levo, .image_header_pravo {
    display: flex;
    align-items: center;
    margin: 80px;
    animation: kitties 5s ease-in infinite;
}

.header_name {
    text-align: center;
    color: lightgray;
    font-style: normal;
    font-size: 2em;
    font-family: "Bradley Hand ITC", cursive;
}

.links_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
    padding-bottom: 130px;
}

#container_aboutme, #container_contact, #container_gallery, #up_gallery_page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 15px;
    position: relative;
    right: 400px;
    top: 150px;
    padding: 4px;
}

#up_gallery_page {
    position: relative;
    left: 400px;
    background: linear-gradient(to right, #ff66c4, #ffde59);
}

#up_gallery_page:hover, #container_gallery:hover, #container_aboutme:hover, #container_contact:hover {
    box-shadow: 0 0 20px 5px whitesmoke;
}

#container_contact{
    background: linear-gradient(to right, #000000, #737373);
}

#container_aboutme {
    background: linear-gradient(to right, #a6a6a6, #ffffff);
}

#container_gallery {
    background: linear-gradient(to right, #0097b2, #7ed957);
}

.images_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.circle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform-origin: center;
}

#pic1 {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-350px);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    animation: pic1 3s linear infinite;
}
#pic1:active {
    transform: translate(-150px, -125px) rotateY(180deg);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 5px black;
    animation: none;
    transition: transform 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
}

#pic2 {
    transform: translate(-50%, -50%) rotate(60deg) translateY(-350px);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    animation: pic2 3s linear infinite;
}

#pic2:active {
    transform: translate(-150px, -125px) rotateY(180deg);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 5px black;
    animation: none;
    transition: transform 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
}

#pic3 {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-350px);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    animation: pic3 3s linear infinite;
}

#pic3:active {
    transform: translate(-150px, -125px) rotateY(180deg);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 5px black;
    animation: none;
    transition: transform 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
}

#pic4 {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-350px);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    animation: pic4 3s linear infinite;
}

#pic4:active {
    transform: translate(-150px, -125px) rotateY(180deg);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 5px black;
    animation: none;
    transition: transform 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
}

#pic5 {
    transform: translate(-50%, -50%) rotate(240deg) translateY(-350px);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    animation: pic5 3s linear infinite;
}

#pic5:active {
    transform: translate(-150px, -125px) rotateY(180deg);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 5px black;
    animation: none;
    transition: transform 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
}

#pic6 {
    transform: translate(-50%, -50%) rotate(300deg) translateY(-350px);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    animation: pic6 3s linear infinite;
}

#pic6:active {
    transform: translate(-150px, -125px) rotateY(180deg);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 5px black;
    animation: none;
    transition: transform 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
}

@keyframes pic1 {
    from {
        transform: translate(-50%, -300%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -300%) rotate(360deg);
    }
}

@keyframes pic2 {
    from {
        transform: translate(250%, -120%) rotate(0deg);
    }
    to {
        transform: translate(250%, -120%) rotate(360deg);
    }
}

@keyframes pic3 {
    from {
        transform: translate(250%, 120%) rotate(0deg);
    }
    to {
        transform: translate(250%, 120%) rotate(360deg);
    }
}

@keyframes pic4 {
    from {
        transform: translate(-50%, 300%) rotate(0deg);
    }
    to {
        transform: translate(-50%, 300%) rotate(360deg);
    }
}

@keyframes pic5 {
    from {
        transform: translate(-350%, 120%) rotate(0deg);
    }
    to {
        transform: translate(-350%, 120%) rotate(360deg);
    }
}

@keyframes pic6 {
    from {
        transform: translate(-350%, -120%) rotate(0deg);
    }
    to {
        transform: translate(-350%, -120%) rotate(360deg);
    }
}

@keyframes kitties {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}